<!-- <body (click)="hideAutocomplete1()"></body> -->
<body>
  <div class="content">
    <div class="box1">
      <div class="searchBox1">
        <input (click)="showAutocomplete1()" #city class="searchBar" placeholder="Chose city from list" type="text" [(ngModel)]="input1Value" value="{{input1Value}}" (keyup)="getInput1(input1Value)" >
          <div [ngClass]="{'showAutocomplete1': this.autocompleteStatus1 == 1, 'hideItem': this.autocompleteStatus1 == 0}">
            <option class="option" (click)="autocomplete1_confirm(city)" [value]="city" *ngFor="let city of cities; let i=index;">{{city}}</option>
          </div>
      </div>
    </div>
  </div>
  <footer class="footer">{{currentDate | date: 'yyyy'}} Copyright&nbsp;<a class="footerLink" href="https://github.com/jedrek89">©JEDREK89</a></footer>
</body>


