<body>
  <div class="content">
    <div class="box1">
      <div id="box1_R1" class="box1_R1" [ngStyle]="{'background-image': 'url(' + currentConditionBackground + ')'}">
        <div class="box1_R1_C1">
            <input (click)="showAutocomplete1()" #city class="searchBox1" placeholder="Chose city from list" type="text" [(ngModel)]="selectedCity" value="{{selectedCity}}" (keyup)="getInput1(selectedCity)" >
            <div [ngClass]="{'showAutocomplete1': this.autocompleteStatus1 == 1, 'hideItem': this.autocompleteStatus1 == 0}">
            <option class="option" (click)="autocomplete1_confirm(city)" [value]="city" *ngFor="let city of cities; let i=index;">{{city}}</option>
          </div>
        </div>

        <div class="box1_R1_C2">
          <div class="timeAPI" id="timeAPI">14:30:00</div>
          <div class="dayOfWeekAPI" id="dayOfWeekAPI">Monday</div>
          <div class="dateAPI" id="dateAPI">23 January 2023</div>
        </div>

        <div class="box1_R1_C3">
          <div id="weatherIcon1" class="weatherIcon1">
            <img src="../assets/cloudyBig.svg" width="160px" height="100px">
          </div>
          <div id="temperature1" class="temperature1">20 &deg;C</div>
          <div id="description1" class="description1">Despcription</div>
        </div>

        <div class="box1_R1_C4">
          <div class="humidity1">Humidity<br>45%</div>
          <div class="windSpeed1">Wind speed<br>20 km/h</div>
        </div>
      </div>

      <div id="box1_R2" class="box1_R2" 
      [ngStyle]="{'background-image': 'url(' + cityBackground + ')'}">
        <div id="box1_R2_R1" class="box1_R2_R1">
          <div id="box1_R2_date1" class="box1_R2_date1">dayName</div>
          <div class="box1_R2_weatherIcon1">
            <img src="../assets/cloudySmall.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_temperature1" class="box1_R2_temperature1">20 &deg;C</div>
        </div>
        <div id="box1_R2_R2" class="box1_R2_R2">
          <div id="box1_R2_date2" class="box1_R2_date2">dayName</div>
          <div class="box1_R2_weatherIcon2">
            <img src="../assets/cloudySmall.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_temperature2" class="box1_R2_temperature2">20 &deg;C</div>
        </div>
        <div id="box1_R2_R3" class="box1_R2_R3">
          <div id="box1_R2_date3" class="box1_R2_date3">dayName</div>
          <div class="box1_R2_weatherIcon3">
            <img src="../assets/cloudySmall.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_temperature3" class="box1_R2_temperature3">20 &deg;C</div>
        </div>
        <div id="box1_R2_R4" class="box1_R2_R4">
          <div id="box1_R2_date4" class="box1_R2_date4">dayName</div>
          <div class="box1_R2_weatherIcon4">
            <img src="../assets/cloudySmall.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_temperature4" class="box1_R2_temperature4">20 &deg;C</div>
        </div>
      </div>

    </div>
  </div>
  <footer class="footer">{{currentDate | date: 'yyyy'}} Copyright&nbsp;<a class="footerLink" href="https://github.com/jedrek89">©JEDREK89</a></footer>
</body>


