<body>
  <div class="content">
    <div class="box1">
      <div id="box1_R1" class="box1_R1" [ngStyle]="{'background-image': 'url(' + currentConditionBackground + ')'}">
        <div class="box1_R1_C1">
            <input (click)="showAutocomplete1()" #city class="searchBox1" placeholder="Select city" type="text" [(ngModel)]="selectedCity" value="{{selectedCity}}" (keyup)="getInput1(selectedCity)" >
            <div [ngClass]="{'showAutocomplete1': this.autocompleteStatus1 == 1, 'hideItem': this.autocompleteStatus1 == 0}">
            <option class="option" (click)="autocomplete1_confirm(city)" [value]="city" *ngFor="let city of cities; let i=index;">{{city}}</option>
          </div>
        </div>

        <div class="box1_R1_C2">
          <div class="timeAPI" id="timeAPI">{{this.timeData | slice: -8}}</div>
          <div class="dayOfWeekAPI" id="dayOfWeekAPI">{{this.dayOfWeekName}}</div>
          <div class="dateAPI" id="dateAPI">{{this.timeData | slice: 0: 10}}</div>
        </div>

        <div class="box1_R1_C3">
          <div id="weatherIcon1" class="weatherIcon1">
            <img src="{{weatherIcons[0]}}.svg" width="160px" height="100px">
          </div>
          <div id="temperature1" ngClass="temperature1" *ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[0].main.temp}}&deg;C</div>
          <div id="description1" ngClass="description1"*ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[0].weather[0].description}}</div>
        </div>

        <div class="box1_R1_C4">
          <div class="humidity1" *ngIf="weatherDataFromAPI">Humidity<br>{{weatherDataFromAPI.list[0].main.humidity}} %</div>
          <div class="windSpeed1" *ngIf="weatherDataFromAPI">Wind<br>{{weatherDataFromAPI.list[0].wind.speed}} km/h</div>
        </div>
      </div>

      <div id="box1_R2" class="box1_R2" 
      [ngStyle]="{'background-image': 'url(' + cityBackground + ')'}">
        <div id="box1_R2_R1" ngClass="box1_R2_R1" *ngIf="weatherDataFromAPI">
          <div id="box1_R2_date1" class="box1_R2_date1">{{this.nextDayName[0]}}</div>
          <div class="box1_R2_weatherIcon1">
            <img src="{{weatherIcons[1]}}.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_description1" class="box1_R2_description1">{{weatherDataFromAPI.list[8].weather[0].description}}</div>
          <div id="box1_R2_temperature1" ngClass="box1_R2_temperature1" *ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[8].main.temp}}&deg;C</div>
        </div>
        <div id="box1_R2_R2" class="box1_R2_R2" *ngIf="weatherDataFromAPI">
          <div id="box1_R2_date2" ngClass="box1_R2_date2">{{this.nextDayName[1]}}</div>
          <div class="box1_R2_weatherIcon2">
            <img src="{{weatherIcons[2]}}.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_description1" class="box1_R2_description1">{{weatherDataFromAPI.list[16].weather[0].description}}</div>
          <div id="box1_R2_temperature1" ngClass="box1_R2_temperature1" *ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[16].main.temp}}&deg;C</div>
        </div>
        <div id="box1_R2_R3" class="box1_R2_R3" *ngIf="weatherDataFromAPI">
          <div id="box1_R2_date3" ngClass="box1_R2_date3">{{this.nextDayName[2]}}</div>
          <div class="box1_R2_weatherIcon3">
            <img src="{{weatherIcons[3]}}.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_description1" class="box1_R2_description1">{{weatherDataFromAPI.list[24].weather[0].description}}</div>
          <div id="box1_R2_temperature1" ngClass="box1_R2_temperature1" *ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[24].main.temp}}&deg;C</div>
        </div>
        <div id="box1_R2_R4" class="box1_R2_R4" *ngIf="weatherDataFromAPI">
          <div id="box1_R2_date4" ngClass="box1_R2_date4">{{this.nextDayName[3]}}</div>
          <div class="box1_R2_weatherIcon4">
            <img src="{{weatherIcons[4]}}.svg" width="100px" height="60px">
          </div>
          <div id="box1_R2_description1" class="box1_R2_description1">{{weatherDataFromAPI.list[32].weather[0].description}}</div>
          <div id="box1_R2_temperature1" ngClass="box1_R2_temperature1" *ngIf="weatherDataFromAPI">{{weatherDataFromAPI.list[32].main.temp}}&deg;C</div>
        </div>
      </div>

    </div>
  </div>
  <footer (click)="this.getNextDayName()" class="footer">{{currentDate | date: 'yyyy'}} Copyright&nbsp;<a class="footerLink" href="https://github.com/jedrek89">©JEDREK89</a></footer>
</body>


